{% extends 'layout.html' %}


{% block navegador %}
           
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto" >
                <li class="nav-item active">
                  <a class="nav-link" href="/user"><i class="fas fa-home"></i>Home</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="/gallery"><i class="fas fa-images"></i>My Gallery</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/new"><i class="fas fa-file-upload"></i>Upload Image</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user"><i class="fas fa-sign-out-alt"></i>Go Back</a>
                </li>
              </ul>
            </div>
    
  {% endblock %}	

  {% block titulo %}
<p>datos del user: {{user.edad}} {{user.usuario}}, {{user.password}}</p>
<h1>La imagen fue subido por: {{user.usuario}} con el identificador {{user._id}} </h1>

<p>La imagen fue subido por: {{imagen.creator.nombre}}</p>
<h2>{{imagen.titulo}}</h2>
<h3>/imagenes/temp{{imagen.id}}.{{imagen.extension}}</h3>
<img src="/imagenes/temp{{imagen.id}}.{{imagen.extension}}">

{% endblock %}
